@Html.Partial("~/Views/Shared/_Header.cshtml")
<div>
    @RenderBody()

    <hr />
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
@Html.Partial("~/Views/Shared/_Fotter.cshtml")
@Html.Partial("~/Views/Shared/_Sidebar.cshtml")





               
       
       
      