@model IEnumerable<HelloWorld.Models.Xe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách nhà xe</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table"></table>


<table id="datatable" class="table table-striped table-bordered bulk_action">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NhanVien.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BienSo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioDi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioVe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiemDi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiemVe)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NhanVien.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BienSo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mota)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoDienThoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GioDi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GioVe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiemDi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiemVe)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Maxe }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Maxe }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Maxe })
                </td>
            </tr>
        }
    </tbody>
</table>

