@model HelloWorld.Models.Xe

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Xe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BienSo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BienSo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioDi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioDi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioVe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioVe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemDi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemDi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemVe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemVe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Maxe }) |
    @Html.ActionLink("Trở về", "Index")
</p>
